.row {
    padding-top: 15px;
}

.banner, .banner2 {
    border: 1px black solid;
    text-align: center;
}

.image {
    text-align: center;
}
.icon-pos {
    position: absolute;
    left: 6px;
    font-size: 21px;
    top: 36px;
    color: #bdbcbc;
}

.searchForm {
    padding-left: 0;
}
#search {
    width: 100%;
    padding: 5px 35px;
    font-size: 17px;
}
#searchbtn{
    padding:5px;
    margin-top:10px
}

.results {
    max-height: 300px;
    overflow: auto;
    margin-left: 1px;
    width: 90%;
}
.resultsItems {
    padding: .155rem 1.25rem
}


/*Media Queries*/
@media (min-width: 992px) {
    .banner2{
        display: none;
    }
}

@media (max-width: 992px) {
    .banner2 {
        display: block;
        margin-top: 20px;
    }
    .banner{
        display:none
    }
    .searchForm{
        padding-left:15px
    }
    .icon-pos {
        left: 20px;
    }
}