<div class="container">
    <div class="row">
        <div class="col-lg-2 banner">
            Banner space
        </div>
        <div class="col-lg-2 image">
            <img src="./assets/xrysiefkairia.png" width="100" height="100" />
        </div>
        <div class="col-lg-6 searchForm">
            <h6>What place are you looking for?</h6>
            <form novalidate
                  [formGroup]="searchField">
                <i class="fas fa-search icon-pos"></i>
                <input id="search"
                       type="text"
                       formControlName="search"
                       (click) ="toggleDropDown()"
                       (keyup)="onKeyPress()"
                       autocomplete="off"
                       #list
                       autofocus />
            </form>
            <div clickOutside (clickOutside)="closeDropDown()">
                <ul  *ngIf='showDropDown' class="list-group results">
                    <li (click)="selectValue(result.name)" 
                        class="list-group-item resultsItems" 
                        *ngFor="let result of results">
                        {{result.name}}
                    </li>
                </ul>
            </div>
            
            <button class="btn btn-primary mr-3"
                    id="searchbtn"
                    type="button"
                    (click)="search()"
                    [disabled]="!this.searchField.value.search">
                Click to search
            </button>
        </div>
        <div class="col-lg-2 banner2">
            Banner space
        </div>
    </div>
</div>